{% extends 'libraryApp/base.html' %}
{% load bootstrap5 %}
{% block title %}Cart{% endblock title %}
{% block content %}
<div class="container my-5">
 <div class="row offset">
  <h1 class="text-center mb-5">Shopping Cart</h1>
  <div class="col-sm-8">
  <div class="card">
   <div class="card-body">
    <h3>Cart</h3>
    {% for order_item in object.items.all %}
    <div class="row">
     <div class="col-sm-3 text-center align-self-center"><img src="{{order_item.item.image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"> </div>
     <div class="col-sm-9">
      <div>
       <h5>Product {{order_item.title}}</h5>
       <p class="mb-2 text-muted small">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas, nihil vel velit sed, quos consequatur maiores odio libero eius est in mollitia quo minus dolorum culpa consectetur, ipsam unde!</p>
       <div class="my-3">
        <label for="quantity">Quantity:</label>
        <a href="{% url 'libraryApp:remove-single-item-from-cart' order_item.item.title order_item.item.pk %}" class="minus-cart btn"><i class="fas fa-minus-square fa-lg"></i></a>
          <span id="quantity">{{ order_item.quantity }}</span>
        <a href="{% url 'libraryApp:add-to-cart' order_item.item.title order_item.item.pk %}" class="plus-cart btn"><i class="fas fa-plus-square fa-lg"></i></a>
       </div>
       <div class="d-flex justify-content-between">
        <a href="{% url 'libraryApp:remove-from-cart' order_item.item.title order_item.item.pk %}" class="btn btn-sm btn-secondary mr-3">Remove item </a>
        <p class="mb-0"><span><strong>Rs. {{order_item.get_total_item_price}} </strong></span></p>
       </div>
      </div>
     </div>
    </div>
    <hr>
    {% endfor %}
    <div class="row my-5">
   </div>
   </div>
  </div>
 </div>
 <div class="col-sm-4">
  <div class="card">
   <div class="card-body">
     <h3>The Total Amount of</h3>
     <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">Amount<span>Rs. {{object.get_total.total}}</span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center px-0">Shipping<span>Rs.{{object.get_total.shipping_charge}}</span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
       <div>
          <strong>Total</strong> <small>(including VAT)</small>
        </div>
        <span><strong>Rs. {{object.get_total.x}} </strong></span>
      </li>
     </ul>
     <div class="d-grid"><a href="/checkout/" class="btn btn-primary">Place Order</a> <br> <a href="/" class="btn btn-primary">Continue Shopping</a></div>
   </div>
  </div>
 </div>
</div>
{% endblock content %}
